.home
	display: flex
	width: 360px
	margin: 0 auto
	height: 650px
	background-color: #ffffff
	border-radius: 3px
	margin-top: 25px
	border: 1px solid #ebebeb
	position: relative

	.defaultText
		color: #7e7e7e78
		font-family: sans-serif
		margin: 0 auto
		font-size: 30px
		margin-top: 230px